<footer>
    <a href="index.html" aria-label="logo Focus Frame">
        <img src="img/Focus.Frame.svg" alt="Logo Focus Frame">
    </a>

    <address>
        <ul>
            <li>
                <a href="tel:+380665438912">Ua: +38 066 543 8912</a>
            </li>
            <li>
                <p>Ukraine, Kyiv</p>
            </li>
        </ul>
        <!-- Social Networks-->
        <ul>
            <li>
                <p>Instagram</p>
            </li>
            <li>
                <p>Facebook</p>
            </li>
            <li>
                <p>Youtube</p>
            </li>
        </ul>
        <nav>
            <ul>
                <li><a href="#About us">About us</a></li>
                <li><a href="#Our courses">Our courses</a></li>
                <li><a href="#Our mentors">Our mentors</a></li>
                <li><a href="#Reviews">Reviews</a></li>
                <li><a href="#contacts">contacts</a></li>
            </ul>
        </nav>
    </address>
</footer>