<section class="skills grid">
  <div class="container">
    <h2 class="skills-title">Skills</h2>
    <div class="skills-list">
      <article class="skills-item speaking">
        <img
          class="skills-ill"
          src="/images/skills/shared-goals.svg"
          alt="Shared goals"
          width="390"
          height="390"
        />
        <h3 class="skills-caption">Speaking</h3>
        <p class="skills-desc">
          Improve your English skills and confidence. Live classes and
          interactive lessons online. 20% extra free for a limited time only
        </p>
        <p class="skills-desc">
          Learn English online and improve your skills through our high-quality
          courses and resources – all designed for adult language learners.
        </p>

        <button class="skills-btn" type="button">Learn more</button>
      </article>
      <article class="skills-item writing">
        <img
          class="skills-ill"
          src="/images/skills/typewriter.svg"
          alt="Shared goals"
          width="390"
          height="390"
        />
        <h3 class="skills-caption">Writing</h3>
        <p class="skills-desc">
          One of the most important and extensive areas of natural science, the
          science that studies substances, also their composition
        </p>

        <button class="skills-btn" type="button">Learn more</button>
      </article>
      <article class="skills-item reading">
        <img
          class="skills-ill"
          src="/images/skills/house-bookshelves.svg"
          alt="Shared goals"
          width="390"
          height="390"
        />
        <h3 class="skills-caption">Reading</h3>
        <p class="skills-desc">
          Perception and response actions of the user resulting from the use
          and/or upcoming use of the product, system or service
        </p>

        <button class="skills-btn" type="button">Learn more</button>
      </article>
      <article class="skills-item listening reversed">
        <img
          class="skills-ill"
          src="/images/skills/podcast-audience.svg"
          alt="Shared goals"
          width="390"
          height="390"
        />
        <div class="skills-item-wrapper">
          <h3 class="skills-caption">Listening</h3>
          <p class="skills-desc">
            Here you can find activities to practise your listening skills.
            Listening will help you to improve your understanding
          </p>
          <button class="skills-btn" type="button">Learn more</button>
        </div>
      </article>
    </div>
  </div>
</section>
